<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-nav">
        <a href="index.html" class="footer-logo" title="Home page">energy.flow</a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a href="https://www.facebook.com/" rel="noopener, noreferrer, nofollow" class="footer-social-link"
              target="_blank" title="facebook">
              <svg class="footer-nav-icon" width="20" height="20" aria-label="facebook icon">
                <use href="./img/icons.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.instagram.com/" rel="noopener, noreferrer, nofollow" class="footer-social-link"
              title="instagram" target="_blank">
              <svg class="footer-nav-icon" width="20" height="20" aria-label="instagram icon">
                <use href="./img/icons.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="https://www.youtube.com/" rel="noopener, noreferrer, nofollow" class="footer-social-link"
              title="youtube" target="_blank">
              <svg class="footer-nav-icon" width="20" height="20" aria-label="youtube icon">
                <use href="./img/icons.svg#youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-heading-form">
        <h2 class="footer-title">Transforming your <span class="footer-span">body</span> shape with us</h4>
          <form class="footer-form" action="https://energyflow.b.goit.study/api/subscription" method="post">
            <label class="footer-label" for="footer-input">
              Subscribe and learn about new exercises!</label>
            <input id="footer-input" type="email" name="email" placeholder="Email" required>
            <button class="footer-form-btn">Send</button>
          </form>
      </div>
      <div class="footer-bottom">
        <p class="footer-bottom-text">Energy Flow. All rights reserved.</p>
        <ul class="footer-links">
          <li>
            <button class="foter-privacy-policy" type="button">
              Privacy Policy
            </button>
          </li>
          <li>
            <button class="footer-terms-of-service" type="button">
              Terms of Service
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="../js/footer-form.js" type="module"></script>
