<footer>
  <div class="container">
    <a href="#" class="logo">energy.flow</a>
  <ul class="header-social-list">
    <li class="header-social-item">
      <a href="https://www.facebook.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="header-nav-icon" width="28" height="28">
          <use href="./public/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header-social-item">
      <a href="https://www.instagram.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="header-nav-icon" width="28" height="28">
          <use href="./public/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-social-item">
      <a href="https://www.youtube.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="header-nav-icon" width="28" height="28">
          <use href="./public/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
  <h4></h4>
  <p></p>
  <form id="footer-form" class="footer-form">Subscribe and learn about new exercises!
    <label>
      <input type="email" class="footer-form-email" id="query" placeholder="Email" required>
    </label>
    <button type="submit" class="footer-form-btn">Send</button>
  </form>

  
  <p></p>
  <p></p>
</form>
  </div>
</footer>