<footer>
  <div class="container">
    <a href="#" class="logo">energy.flow</a>
  <ul class="footer-social-list">
    <li class="footer-social-item">
      <a href="https://www.facebook.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="footer-nav-icon" width="28" height="28">
          <use href="../img/icons.svg#facebook-icon""></use>
        </svg>
      </a>
    </li>
    <li class="footer-social-item">
      <a href="https://www.instagram.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="footer-nav-icon" width="28" height="28">
          <use href="../img/icons.svg#instagram-icon"></use>
        </svg>
      </a>
    </li>
    <li class="footer-social-item">
      <a href="https://www.youtube.com/" rel="noreferren noopener" class="header-social-link">
        <svg class="footer-nav-icon" width="28" height="28">
          <use href="../img/icons.svg#youtube-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
  <h4 class="footer-title"></h4>
  <p></p>
  <form action="" class="footer-form"></form>
  <button type="button" target="_blank" class="footer-btn">Send</button>
  <p></p>
  <p></p>
  </div>
</footer>