<div class="mobile-menu is-hidden" data-mobile-menu>
  <div class="mobile-menu__box">
    <a class="mobile-menu__logo" href="./index.html" title="Home page">
      <svg class="mobile-menu__logo-icon" width="86" height="18">
        <use href="./img/icons.svg#logo-menu-icon"></use>
      </svg>
    </a>
    <button
      class="mobile-menu__close-btn"
      type="button"
      aria-label="Close mobile menu"
      data-mobile-menu-close
    >
      <svg class="mobile-menu__close-btn-icon" width="20" height="20">
        <use href="./img/icons.svg#close-burger-menu-icon"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu__list list">
    <li class="mobile-menu__item">
      <a
        class="mobile-menu__link mobile-menu__link--current link"
        href="./index.html"
        >Home</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./favorites.html">Favorites</a>
    </li>
  </ul>
  <ul class="mobile-menu__social-list">
    <li class="mobile-menu__social-item">
      <a
        href="https://www.facebook.com/"
        rel="noreferren noopener"
        class="mobile-menu__social-link"
        aria-label="facebook icon"
        target="_blank"
        title="Facebook"
      >
        <svg
          class="mobile-menu__social-icon"
          width="25"
          height="25"
          aria-label="facebook icon"
        >
          <use href="./img/icons.svg#facebook-icon"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu__social-item">
      <a
        href="https://www.instagram.com/"
        rel="noreferren noopener"
        class="mobile-menu__social-link"
        aria-label="instagram icon"
        target="_blank"
        title="Instagram"
      >
        <svg class="mobile-menu__social-icon" width="25" height="25">
          <use href="./img/icons.svg#instagram-menu-icon"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu__social-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        rel="noreferren noopener"
        class="mobile-menu__social-link"
        aria-label="youtube icon"
        target="_blank"
        title="Youtube"
      >
        <svg class="mobile-menu__social-icon" width="25" height="25">
          <use href="./img/icons.svg#youtube-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
