<section class="quote-section">
  <div class="container">
    <div class="quote-section-information">
      <div class="quote-wrapper">
        <svg class="run-person-icon" width="34" height="32">
          <use
            href="/img/quote/svg-quote-section.svg#icon-run-person-icon"
          ></use>
        </svg>

        <h3 class="quote-title">Quote of the day</h3>
        <svg class="commas-icon" width="28" height="28">
          <use href="/img/quote/svg-quote-section.svg#icon-commas"></use>
        </svg>
        <p class="quote-text"></p>
        <p class="quote-author"></p>
      </div>
      <div class="quote-section-background"></div>
    </div>
  </div>
</section>
