.exercises-container {
  background-color: #e8e8e8;
  border-radius: 30px;
  padding: 40px 20px;
}
.exercises-title {
  color: #1b1b1b;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.exercises-button {
  color: #1b1b1b;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 30px;
  background-color: #f6f6f6;
  padding: 7px 14px;
  border: none;
  transition: color 250ms linear, background-color 250ms linear;
}
.exercises-button:hover,
.exercises-button:focus {
  background-color: #d3d0d0;
}
.exercises-button-list {
  display: flex;
  column-gap: 6px;
}
.exer-form-button-wrapper {
  margin-bottom: 40px;
}
.form-is-open {
  margin-bottom: 20px;
}
.form-wrapper {
  position: relative;
}

.exercises-label {
  display: block;
}
.exercises-search-input {
  outline: transparent;
  height: 42px;
  border-radius: 30px;
  background-color: #f6f6f6;
  border: none;
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  padding-left: 16px;
  width: 100%;
}
.exercises-search-input::placeholder {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}
.exer-form-button {
  border: none;
  outline: transparent;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 4px 8px 4px 0;
}

.exercises-form-svg {
  /* fill: none; */
}

.form-is-hiden {
  display: none;
}
.exercises-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.exercises-item {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 232px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  cursor: pointer;
  transition: transform 250ms linear, box-shadow 250ms linear;
}
.exercises-item:hover,
.exercises-item:focus {
  transform: scale(1.03);
  box-shadow: 0px 0px 3px 1px rgba(156, 156, 156, 1);
}
.exercises-item-text {
  color: #f6f6f6;
  font-size: 20px;
  line-height: 1;
}
.exercises-item-text-second {
  color: rgba(246, 246, 246, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercises-list-pages {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}
.exercises-pages-button {
  border: none;
  line-height: 0;
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.04em;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms linear;
}
.exercises-pages-button:hover,
.exercises-pages-button:focus {
  color: rgba(3, 3, 3, 0.7);
}
/* ======================= */
.exercises-button-active {
  color: #f6f6f6;
  background-color: #7e847f;
  transition: background-color 250ms linear;
}
.exercises-button-active:hover,
.exercises-button-active:focus {
  background-color: #5f6560;
}
.select-pages-ative {
  color: #1b1b1b;
  border-radius: 50%;
  border: 1px solid #1b1b1b;
  width: 32px;
  height: 32px;
}
/* ===============style for cards================== */
.exer-card-background {
  border-radius: 15px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  background: #fff;
  padding: 16px;
}
.exer-workout-text {
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px 8px;
  border-radius: 15px;
  background-color: #7e847f;
  display: inline-block;
}
.card-workout-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.exer-card-rating {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 16px;
}
.card-rating-svg {
  fill: #eea10c;
  margin-left: 4px;
  margin-bottom: 3px;
}
.card-start-button {
  border: transparent;
  border-radius: 30px;
  background-color: transparent;
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-left: auto;
  padding: 4px 12px;
  transition: background-color 250ms linear;
}
.card-start-button:hover,
.card-start-button:focus {
  background-color: #e8e8e8;
}
.card-arrow-svg {
  stroke: #1b1b1b;
}
.card-runing-men-svg {
  fill: #f6f6f6;
  background-color: #7e847f;
  border-radius: 50%;
}
.card-name-traning {
  overflow: hidden;
  color: #1b1b1b;
  text-overflow: ellipsis;
  font-family: 'DM Sans';
  font-size: 20px;
  line-height: 1.4;
  width: 223px;
  display: block;
  white-space: nowrap;
}
.card-runing-men-wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 18px;
}
.card-burned-calories-text {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  margin-right: 16px;
}
.card-body-part-text {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
}
.card-target-text {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
}
.card-burned-calories-span {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
/* ==================message */
.no-results-wrapper {
  padding-top: 124px;
  padding-bottom: 320px;
}
.no-results-message {
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}
.no-results-messag-span {
  color: #7e847f;
  font-weight: 500;
}
.exercises-title-span {
  color: rgba(27, 27, 27, 0.5);
  font-family: 'DM Sans';
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.exer-title-slash {
  color: #1b1b1b;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.page-choice-svg {
  width: 34px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
}
.form-reset-text-button {
  border: none;
  background-color: transparent;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  line-height: 0;
  padding: 4px;
}
.reset-button-close {
  display: none;
}
.form-reset-text-icon {
  stroke: #1b1b1b;
  transition: stroke 250ms linear;
}
.form-reset-text-button:hover .form-reset-text-icon {
  stroke: #6b6969;
}
.reset-button-close .form-reset-text-icon {
  stroke: transparent;
}
@media screen and (min-width: 768px) {
  .exer-title-slash {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: -0.02em;
  }
  .exercises-title {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
  }
  .exercises-button {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
  }
  .exercises-button-list {
    column-gap: 8px;
  }
  .exercises-list {
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .exercises-list {
    font-size: 24px;
  }
  .card-row-gap-js {
    gap: 20px 14px;
  }
  .exercises-item {
    height: 250px;
    width: 313px;
  }
  .exercises-pages-button {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
  .exer-form-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
  }
  .exercises-container {
    padding: 64px 48px;
  }
  .form-is-open {
    margin-bottom: 0;
  }
  .exercises-search-input {
    height: 48px;
    width: 246px;
    font-size: 16px;
    line-height: 1.5;
  }
  .exercises-title-span {
    font-size: 24px;
    line-height: 1.33;
  }
  .exer-card-background {
    width: 313px;
  }
  .card-start-button {
    font-size: 16px;
    line-height: 1.5;
  }
  .card-arrow-svg {
    width: 16px;
    height: 16px;
  }
  .card-name-traning {
    font-size: 24px;
    line-height: 1.33;
  }
  .card-runing-men-wrapper {
    margin-bottom: 8px;
  }
  .card-body-part-text {
    margin-right: 16px;
  }
  .no-results-wrapper {
    padding: 222px 100px 584px;
  }
  .no-results-message {
    font-size: 18px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1440px) {
  .exercises-list {
    gap: 40px 20px;
  }
  .card-row-gap-js {
    row-gap: 28px;
  }
  .exercises-item-text {
    font-size: 24px;
  }

  .exercises-search-input {
    width: 273px;
  }
  .exer-card-background {
    width: 424px;
  }
  .card-burned-calories-text {
    margin-right: 8px;
  }
  .card-body-part-text {
    margin-right: 8px;
  }
  .exer-card-background {
    padding: 16px 14px;
  }
  .no-results-wrapper {
    padding: 217px 362px 350px;
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-bottom: 950px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #a6a6aa;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
