.header-all {
  padding-top: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
}

.open-mobile-menu-btn {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
}

.header-social-list {
  display: none;
}

.quote-all {
  padding-top: 38px;
}

.quote-wrapper-fv {
  background-color: var(--main-color);
  border-radius: 30px;
  min-height: 272px;
  padding-top: 42px;
  padding-left: 66px;
  padding-bottom: 40px;
  padding-right: 20px;
  position: relative;
}

.quate-day {
  height: 335px;
  height: 272px;
  border-radius: 30px;
  background-image: url('../img/favorites/quate-day-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fit-girl {
  height: 335px;
  height: 272px;
  border-radius: 30px;
  background-image: url('../img/favorites/fit-girl-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.time-sport {
  background-color: white;
  border-radius: 30px;
  height: 335px;
  height: 272px;
  padding-top: 96px;
  padding-bottom: 121px;
  padding-left: 102px;
  padding-right: 165px;
  padding-bottom: 40px;
  padding-right: 20px;
  position: relative;
}

.exercises-section-fv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.exercises-title-fv {
  padding-left: 20px;
  padding-top: 40px;
  font-size: 32px;
  font-weight: 400;
}

.gym-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.exercises-container .is-hidden {
  display: none;
}

.dumbbell {
  width: 85px;
  height: 52px;
}

.info-gym-text {
  margin-top: 28px;
  width: 247px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 12px;
}

.container-for-pagination {
  display: flex;
  justify-content: center;
}
.container-for-pagination li {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-all {
    padding-top: 48px;
  }

  .exercises-container {
    margin-bottom: 0;
  }

  .container-for-pagination {
    display: none;
  }

  .favorites-list-wrap {
    height: 770px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .favorites-list {
    width: calc(100% + 20px);
    flex-direction: row;
    gap: 14px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.card-btn-delete {
  margin-left: 8px;
  padding: 0;
  height: 16px;
  width: 16px;
  border: none;
  background-color: transparent;
}

.card-btn-delete-svg {
  fill: #fff;
  stroke: #1b1b1b;
  transition: stroke 250ms linear;
}

.card-btn-delete:hover .card-btn-delete-svg,
.card-btn-delete:focus .card-btn-delete-svg {
  stroke: #7e847f;
}

@media screen and (min-width: 768px) {
  .exercises-container {
    height: 958px;
  }

  .header-container {
    padding: 0 50px;
  }

  .open-mobile-menu-btn {
    display: none;
  }

  .header-social-link {
    transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    width: 44px;
    height: 44px;
  }

  .header-social-link:hover,
  .header-social-link:focus {
    border: 1px solid rgba(95, 101, 96, 0.2);
    stroke: grey;
    fill: grey;
  }

  .logo-icon {
    width: 150px;
    height: 28px;
  }

  .header-social-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .header-nav {
    width: 211px;
    height: 52px;
    border-radius: 60px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .header-btn-home-fv {
    gap: 10px;
    border-radius: 30px;
    background: #7e847f;
    border: none;

    color: #f6f6f6;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
  }

  .header-btn-favorites-fv {
    width: 95px;
    height: 36px;
    background-color: white;
    border-radius: 30px;
    border: none;
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn-favorites-fv:hover,
  .header-btn-favorites-fv:active {
    background-color: var(--main-bg-color);
  }

  .quote-all {
    padding-top: 64px;
  }

  .quote-wrapper-fv {
    border-radius: 50px;
    padding-top: 64px;
    padding-left: 130px;
    padding-bottom: 64px;
    padding-right: 80px;
    min-height: 302px;
  }

  .quate-day {
    background-image: url('../img/favorites/quote-tablet.png');
  }

  .quote-inform-fv {
    padding-top: 80px;
  }

  .fit-girl {
    width: 368px;
    height: 302px;
  }

  .time-sport {
    width: 368px;
    height: 302px;
  }

  .info-sport {
    display: flex;
  }

  .exercises-container-fv {
    background: #e8e8e8;
    width: 736px;
    border-radius: 30px;
  }

  .exercises-title-fv {
    padding-left: 48px;
    padding-top: 64px;
    font-size: 44px;
    font-weight: 400;
  }

  .gym-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .dumbbell {
    width: 115px;
    height: 71px;
  }

  .info-gym-text {
    display: flex;
    width: 554px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
  }

  .exercises-container {
    width: 736px;
  }

  .exercises-section-fv {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .quote-inform-fv {
    width: 1440px;
  }

  .header-all {
    padding-top: 40px;
  }

  .quote-wrapper-fv {
    padding-left: 114px;
    padding-right: 64px;
    width: 704px;
  }

  .quate-day {
    width: 704px;
    height: 302px;
  }

  .fit-girl {
    width: 352px;
    height: 302px;
  }

  .time-sport {
    width: 352px;
    height: 302px;
  }

  .quote-all {
    display: flex;
  }

  .exercises-container-fv {
    background: #e8e8e8;
    width: 1408px;
    border-radius: 50px;
  }

  .exercises-title-fv {
    padding-left: 48px;
    padding-top: 64px;
    font-size: 44px;
    font-weight: 400;
  }

  .gym-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dumbbell {
    width: 115px;
    height: 71px;
  }

  .info-gym-text {
    display: flex;
    width: 554px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
  }

  .exercises-container {
    height: 774px;
    width: 100%;


  .favorites-list-wrap {
      height: 554px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .favorites-list {
      flex-direction: row;
      gap: 14px;
      flex-wrap: wrap;
      margin-bottom: 0;
    }
  }

  .favorites-list {
    gap: 28px 20px;
  }
}
