
.logo {
color: #ffffff;
display: block;
padding-top: 30px;
padding-bottom: 9px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  padding-bottom: 20px;
}
/* .footer-nav-icon {
 
}
.footer-social-item {
 
} */

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.footer-btn {
padding: 12px 130px;


  border-radius: 30px;
background: #7E847F;
}
.form {
  gap: 8px;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #5F6560;
}
.footer-title {
  color: #F6F6F6;
font-family: "DM Sans";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 100% */
letter-spacing: -0.64px;
}
.footer-wrap {
  width: 335px;
  height: 471px;
  flex-shrink: 0;

  background: linear-gradient(0deg, rgba(27, 27, 27, 0.70) 0%, rgba(27, 27, 27, 0.70) 100%), url(../img/footer/footer-img-mobile.jpg), lightgray -244px -149.305px / 178.793% 169.556% no-repeat;
	background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
}  


.footer-form-btn {
    background-color: #7E847F;
    border: none;
}
.footer-form-email,
.footer-form-btn {
    border-radius: 30px;
    }
    .footer-form,
     .footer-form-email,
    .footer-form-btn {
        color: #F6F6F6;
    }
.footer-form-email {
    border: #F6F6F6;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 375px) {
   
    .footer-form {
    font-size: 14px;
    width: 295px;
    }
    .footer-form-email,
    .footer-form-btn {
        width: 295px;
    height: 42px;
    }
    .footer-form-email {
        padding-left: 14px;
        margin-bottom: 12px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .footer-form {
    width: 352px;
    font-size: 18px;
}
.footer-form-email,
    .footer-form-btn {
        width: 352px;
    height: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .footer-form {
        font-size: 18px;
    }
    .footer-form-email,
        .footer-form-btn {
        width: 352px;
        height: 48px;
        }
        .footer-form-email {
            padding-left: 14px;  
        }
}


