.header-wrapper {
  position: relative;
  margin: 0 auto;
}
.header-logo-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.header-img {
  border-radius: 30px;
  background: lightgray -9.01px 54.435px / 81.557% 97.596% no-repeat, #e8e8e8;
}
.header-background {
  margin: 0 auto;
}
.header {
  margin-top: 10px;
}

.header-tags-container {
  width: 141px;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 4px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header-nav {
  display: none;
}
.open-mobile-menu-btn {
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hero-heading-wrapper {
  height: 365px;
  border-radius: 30px;
  background: #ffffff;
  padding-top: 60px;
  padding-left: 20px;
  margin-top: 20px;
}
.hero-heading {
  margin-bottom: 20px;
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.89em;
  letter-spacing: 0.02em;
}
.heading-span {
  color: var(--main-color);
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: 0.89em;
  letter-spacing: -0.02em;
}
.heading-paragraph {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28em;
  letter-spacing: -0.01em;
}
.header-social-list {
  display: none;
}

/* --------------------------- */

@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header-background {
    width: 248px;
    height: 900px;
  }
  .hero-heading-wrapper {
    width: 488px;
    height: 900px;
    padding-top: 0;
    padding-left: 0;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
    margin-top: 0;
  }
  .header-img {
    border-radius: 50px 0px 50px 50px;
    background: url(<path-to-image>),
      lightgray -77.155px 246.761px / 209.216% 76.867% no-repeat, #e8e8e8;
  }
  .header-tags-container {
    width: 196px;
    gap: 8px;
    left: 20px;
    bottom: 64px;
  }
  [aria-label='sport-tag-icon'].tag-icon {
    width: 86px;
    height: 32px;
  }
  [aria-label='healthy-tag-icon'].tag-icon {
    width: 102px;
    height: 32px;
  }
  [aria-label='workout-tag-icon'].tag-icon {
    width: 108px;
    height: 32px;
  }
  [aria-label='diet-tag-icon'].tag-icon {
    width: 76px;
    height: 32px;
  }

  .header-logo-wrap {
    top: 44px;
    left: 32px;
  }
  .logo-icon {
    width: 150px;
    height: 28px;
  }
  .hero-heading {
    padding-top: 147px;
    padding-left: 32px;
    padding-right: 32px;

    font-size: 98px;
    line-height: 0.96em;
    letter-spacing: -0.02em;
  }
  .heading-paragraph {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 25px;
    height: 72px;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.01;
  }
  .heading-span {
    font-size: 98px;
    line-height: 0.96em;
    letter-spacing: -0.02em;
  }
  .header-nav-wrapper {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 74px;
  }
  .header-social-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .header-nav {
    width: 211px;
    height: 52px;
    border-radius: 60px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .header-btn-home {
    padding: 6px 26px;
    gap: 10px;
    border-radius: 30px;
    background: #ffffff;
    border: none;

    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
  }
  .header-btn-favorites {
    background-color: var(--main-color);
    border: none;
    color: var(--main-bg-color);
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
  }
}
