.rating-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rating-modal-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.rating-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 335px;
  height: 357px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 20px;
}

.rating-modal-close-svg {
  fill: black;
}

.rating-modal-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  display: flex;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.rating-modal-paragraph-rating {
  color: rgba(27, 27, 27, 0.40);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  margin: 0 0 8px 0;
}

.rating-modal-container {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 20px;
}

.rating-modal-value {
  color: #1B1B1B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  width: 16px;
  height: 16px;
}



.rating-modal-label {
  height: 100%;
  cursor: pointer;
}

#email-modal {
  border-radius: 30px;
  border: 1px solid rgba(27, 27, 27, 0.40);
  display: inline-flex;
  align-items: center;
}

.input-modal-form-modal {
  display: inline-flex;
  padding: 12px 14px;
  align-items: center;
  width: 295px;
  height: 42px;
  margin-bottom: 10px;
}

.input-modal-form-modal::placeholder {
  color: rgba(27, 27, 27, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.user-comment-modal {
  border-radius: 15px;
  border: 1px solid rgba(27, 27, 27, 0.40);
  display: inline-flex;
  padding: 12px 14px;
  width: 295px;
  height: 92px;
  align-items: center;
  gap: 10px;
  resize: none;
  margin-bottom: 12px;
}

.user-comment-modal::placeholder {
  color: rgba(27, 27, 27, 0.60);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.button-modal-rating-send {
  display: flex;
  width: 295px;
  padding: 12px 131px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #7E847F;
  border: none;
  color: #F6F6F6;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.button-modal-rating-send:hover {
  background: #5F6560;
}

.button-modal-rating-send:active {
  background: #5F6560;
}

.button-modal-rating-send:focus {
  background: #5F6560;
}

.rating-modal-items::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  /*font-family: 'Font Awesome 5 Free';*/
  font-weight: 900;
  color: #ccc;
}

.rating-modal-body{
  position: relative;
  width: 120px;
}

.rating-modal-items::before,
.rating-modal-item,
.rating-modal-active::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.rating-modal-item,
.rating-modal-active::before {
  width: 20px;
  height: 20px;
}

.rating-modal-item {
  cursor: pointer;
  position: relative;
  margin: 0;
  opacity: 0;
  top: 2px;
  left: 5px;
  z-index: 3;
  transform: scale(1.2);
}

.rating-modal-active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}


.rating-modal-active::before {
  position: relative;
  color: #EEA10C;
  z-index: 2;
}
@media screen and (min-width: 767px){
  .rating-modal-window{
    padding: 50px;
  }
  .rating-modal-container{
    margin-bottom: 20px;
  }
  .input-modal-form-modal{
    margin-bottom: 18px;
    width: 350px;
    height: 48px;
  }
  .user-comment-modal{
    margin-bottom: 32px;
    width: 350px;
    height: 108px;
  }
  .rating-modal-window{
    width: 450px;
    height: 432px;
  }
  .button-modal-rating-send{
    width: 350px;
  }
}