/* Reset styles */
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Italic.ttf);
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f6f6f6;
}
.container {
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
