.scroll-up-btn {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  padding: 10px 10px;
  cursor: pointer;
  transition: fill 250ms ease-in-out;
}

.scroll-up-btn-icon {
  fill: #f6f6f6;
  transition: fill 250ms ease-in-out;
}

.scroll-up-btn:hover .scroll-up-btn-icon,
.scroll-up-btn:active .scroll-up-btn-icon {
  fill: var(--hover-color);
}
.scroll-up-btn-icon:hover,
.scroll-up-btn-icon:active {
  fill: var(--hover-color);
}
