.scroll-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background-color: var(--main-color);
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: 500ms;
}

.scroll-top-btn:hover {
  background-color: var(--hover-color);
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
  transition: 500ms;}