/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./modern-normalize.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote-section.css');

@import url('./header.css');
@import url('./exercises.css');
@import url('./home-static-block.css');
@import url('./footer.css');
@import url('./exercise-card.css');
@import url('./mobile-menu.css');
@import url('./modal-window.css');
@import url('./rating-modal-window.css');
@import url('./scrollUp-btn.css');
@import url('./toggle-btn-theme.css');

:root {
  font-family: DM Sans, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  --main-color: #7e847f;
  --hover-color: #5f6560;
  --main-bg-color: #f6f6f6;
  --section-bg-color: #e8e8e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
